body {
    background: #1d1f27;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    background: #2c2f38;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 0 20px #000;
    width: 300px;
}

#clock, #timer {
    font-size: 35px;
    margin: 20px 0;
    background: #000;
    padding: 15px;
    border-radius: 10px;
    letter-spacing: 2px;
}

button {
    padding: 8px 15px;
    font-size: 15px;
    margin: 5px;
    border: none;
    background-color: #4FA8FF;
    color: white;
    cursor: pointer;
    border-radius: 8px;
    transition: 0.2s;
}

button:hover {
    background-color: #007BFF;
}
